@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Roboto:wght@500;900&display=swap");
.header {
  background-color: #F9DE4E;
  width: 100%;
}
.header__navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 120px 0 120px;
}
.header__navBar__logo {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
}
.header__navBar__nav__link {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: black;
  padding: 15px;
}
.header__navBar__nav__link:hover {
  border: 1px solid #000000;
}
.header__navBar__button button {
  border: 0;
  background: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
}
.header__navBar__button__signUp {
  background: #ffffff;
  border: 1px white solid;
  border-radius: 10px;
  padding: 7px;
}
.header__horizon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__horizon__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 79px;
  color: #000000;
  padding-left: 136px;
}
.header__horizon__image {
  width: 780px;
}
.header img {
  display: block;
  margin: 0 auto;
}