@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;900&family=Roboto:wght@500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;900&family=Roboto:wght@500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;900&family=Roboto:wght@500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;900&family=Roboto:wght@500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;900&family=Roboto:wght@500;900&display=swap");
.header {
  background-color: #F9DE4E;
  padding-top: 5%;
  width: 572px;
}
@media screen and (min-width: 768px) {
  .header {
    width: 100%;
  }
}
.header__navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12% 0 12%;
}
.header__navBar__logo {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  color: #000000;
}
@media screen and (min-width: 1024px) {
  .header__navBar__menu {
    display: none;
  }
}
.header__navBar__menu__button {
  width: 50px;
}
@media screen and (max-width: 1023px) {
  .header__navBar__nav {
    display: none;
  }
}
.header__navBar__nav__link {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin: 5px;
  padding: 10px;
}
.header__navBar__nav__link:hover {
  border: 1px solid #000000;
}
@media screen and (max-width: 1023px) {
  .header__navBar__button {
    display: none;
  }
}
.header__navBar__button button {
  border: 0;
  background: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
}
.header__navBar__button #signUp {
  background: #ffffff;
  border: 1px white solid;
  border-radius: 10px;
  padding: 7px;
}
.header__horizon {
  margin-top: 50px;
  padding: 50px;
}
@media screen and (min-width: 1023px) {
  .header__horizon {
    display: flex;
    align-items: center;
  }
}
.header__horizon__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 79px;
  color: #000000;
  text-align: center;
}
@media screen and (min-width: 1023px) {
  .header__horizon__title {
    font-size: 55px;
    text-align: left;
  }
}
@media screen and (min-width: 1440px) {
  .header__horizon__title {
    font-size: 65px;
    text-align: left;
  }
}
.header__horizon__image {
  display: block;
  margin: 0 auto;
  width: 92%;
}
@media screen and (min-width: 1023px) {
  .header__horizon__image {
    width: 500px;
  }
}
@media screen and (min-width: 1440px) {
  .header__horizon__image {
    width: 700px;
    padding-right: 3%;
  }
}
.header #break {
  display: block;
  margin: 0 auto;
  width: 92%;
}

.footer hr {
  background: gray;
  width: 71%;
}
.footer .yellowHr {
  border: 2px solid #F9DE4E;
}
@media screen and (min-width: 1024px) {
  .footer__main {
    display: flex;
    justify-content: space-around;
  }
}
.footer__main__logo {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.footer__main__logo__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  text-align: center;
  color: #434138;
  border: 5px #F9DE4E solid;
  width: 170px;
  height: 60px;
}
.footer__main__info {
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .footer__main__info {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "address address" "phone fax" "media media";
  }
}
.footer__main__info article {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
@media screen and (min-width: 1024px) {
  .footer__main__info article {
    justify-content: left;
  }
}
.footer__main__info article img {
  width: 20px;
  margin-right: 10px;
}
.footer__main__info article p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #737373;
}
.footer__main__info__address {
  grid-area: address;
}
.footer__main__info__phone {
  grid-area: phone;
}
.footer__main__info__fax {
  grid-area: fax;
}
@media screen and (min-width: 1024px) {
  .footer__main__info__fax {
    padding-left: 5px;
  }
}
.footer__main__info__media {
  grid-area: media;
  margin-top: 30px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  .footer__main__info__media {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.footer__main__info__media__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #737373;
  mix-blend-mode: normal;
}
@media screen and (min-width: 1024px) {
  .footer__main__info__media__img {
    padding: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .footer__foot {
    display: flex;
    justify-content: space-around;
    margin: 30px;
  }
}
.footer__foot__nav {
  display: none;
}
@media screen and (min-width: 1024px) {
  .footer__foot__nav {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .footer__foot__nav__link {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    text-transform: uppercase;
    color: #737373;
    padding: 10px;
  }
}
.footer__foot__nav__link:hover {
  background-color: #F9DE4E;
}
.footer__foot__copyright__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #737373;
  mix-blend-mode: normal;
  text-align: center;
}

div {
  box-sizing: border-box;
}

.tables {
  padding: 0 5rem 0 5rem;
}

.table__container {
  display: block;
  width: 100%;
  max-width: 1193px;
  color: black;
  font-family: Roboto;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  font-size: 1.6rem;
  min-width: 100%;
}

.table__header {
  background: #F9DE4E;
  font-weight: bolder;
  align-items: center;
}

.flex__table {
  display: flex;
  flex-flow: row wrap;
  transition: 0.5s;
}
.flex__table.table__content:nth-child(odd) {
  background: #F5F5F5;
}

.table__content {
  font-weight: lighter;
}
.table__content:hover {
  cursor: pointer;
  transition: 500ms;
  font-weight: bolder;
}

.flex__row {
  width: 20%;
  padding: 0.8em 1rem;
}

.arrow {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.arrow .arrow__down {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

/*@media all and (max-width: 767px) {
  .flex-row {
    width: calc(100% / 3); //1px = border right

    &.first {
      width: 100%;
    }
  }

  .column {
    width: 100%;
  }
}*/
/*@media all and (max-width: 430px) {

  .flex-table {
    .flex-row {
      border-bottom: 0;
    }

  }

  .header {
    font-weight: 600;
    .flex-row {
      border-bottom: solid 1px;
    }
  }

  .flex-row {
    width: 100%; //1px = border right

    &.first {
      width: 100%;
    }
  }

  .column {
    width: 100%;
  }

  .flex-cell {
    width: 100%; //1px = border right
  }
}
*/
.tables {
  margin: 5rem;
}

.article__title__home {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 73px;
  margin: 5rem 0 2rem;
}

.illustration {
  padding: 2rem 0 12rem 0;
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-template-rows: 1fr;
  width: 100vw;
  height: 30vh;
}
.illustration__text {
  padding-left: 9rem;
  padding-right: 10rem;
  padding-top: 2rem;
  font-family: "Inter";
  font-weight: 900;
  font-size: 50px;
  line-height: 82px;
  text-transform: uppercase;
}
.illustration__image {
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  .illustration__image {
    display: none;
  }
}
.illustration__image__background {
  background-color: #F9DE4E;
  -webkit-clip-path: polygon(10% 0, 100% 32%, 100% 100%, 0% 100%);
          clip-path: polygon(10% 0, 100% 32%, 100% 100%, 0% 100%);
  width: 57%;
  height: 30%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}
.illustration__image__source {
  width: 20rem;
  position: absolute;
  z-index: 1;
  right: 8rem;
}

.showCompanies__main {
  margin-top: 41px;
  padding: 10px;
  text-align: center;
}
@media screen and (min-width: 728px) {
  .showCompanies__main {
    margin-left: 120px;
    text-align: left;
  }
}
.showCompanies__main__info {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #000000;
}
@media screen and (min-width: 430px) {
  .showCompanies__main__info {
    font-size: 25px;
  }
}
.showCompanies__main__info__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 42px;
  line-height: 73px;
  text-transform: uppercase;
}
@media screen and (min-width: 430px) {
  .showCompanies__main__info__title {
    font-size: 60px;
  }
}
.showCompanies__main__hr {
  border: 1px solid #cdcdcd;
  width: 95%;
  margin-top: 74px;
  margin-bottom: 46px;
}
.showCompanies__main__contact__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 42px;
  line-height: 73px;
  color: #000000;
}
@media screen and (min-width: 430px) {
  .showCompanies__main__contact__title {
    font-size: 60px;
  }
}
.showCompanies__main__contact__people {
  display: flex;
  justify-content: space-around;
}
.showCompanies__main__contact__people__card {
  display: flex;
  align-items: center;
  width: 376px;
  padding: 25px;
  background: #f5f5f5;
  box-shadow: 0px 0px 60px -29px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
}
.showCompanies__main__contact__people__card__img {
  border-radius: 50%;
  width: 132px;
}
.showCompanies__main__contact__people__card__name {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 41px;
  padding-left: 10px;
  color: #000000;
}

.showContact__main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .showContact__main {
    justify-content: space-around;
  }
}
.showContact__main__info {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .showContact__main__info {
    font-size: 25px;
  }
}
.showContact__main__info__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 73px;
}
@media screen and (min-width: 1024px) {
  .showContact__main__info__title {
    font-size: 60px;
  }
}
.showContact__main__img {
  border-radius: 50%;
  width: 255px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .showContact__main__img {
    margin-top: 0px;
  }
}

.article__title {
  background-image: linear-gradient(to bottom, transparent 50%, #F9DE4E 50%);
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: 20% 1.2em;
  background-position: 10% 96%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 73px;
  margin: 3rem 0 2rem;
}

.article__searchbar {
  display: flex;
  align-content: end;
  height: 53px;
  width: 20rem;
  top: 403px;
  border-radius: 10px;
  font-size: 1.3rem;
  margin-left: auto;
  margin-bottom: 2rem;
}

.dashboard__header {
  grid-area: dashheader;
  width: 100%;
  font-family: "Inter";
  font-style: normal;
}
@media screen and (min-width: 1024px) {
  .dashboard__header {
    padding-top: 50px;
    padding-left: 50px;
  }
}
.dashboard__header__title {
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  padding-top: 20px;
  padding-left: 25px;
}
.dashboard__header__title__menu {
  padding-right: 20px;
}
@media screen and (min-width: 1024px) {
  .dashboard__header__title__menu {
    display: none;
  }
}
.dashboard__header__path {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  padding-left: 70px;
  margin-top: 8px;
  margin-bottom: 30px;
}
.dashboard__header__banner {
  background: #9698d6;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 50px;
}
@media screen and (min-width: 1024px) {
  .dashboard__header__banner {
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
  }
}
.dashboard__header__banner__name {
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .dashboard__header__banner__name {
    max-width: 50%;
  }
}
.dashboard__header__banner__text {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .dashboard__header__banner__text {
    max-width: 50%;
  }
}
.dashboard__header__illustration {
  width: 370px;
}
@media screen and (min-width: 768px) {
  .dashboard__header__illustration {
    position: absolute;
    width: 280px;
    right: 3px;
    top: 3px;
  }
}
@media screen and (min-width: 1024px) {
  .dashboard__header__illustration {
    position: absolute;
    width: 370px;
    right: 50px;
    top: 3px;
  }
}

.dashboardForm {
  grid-area: form;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 0px 37px -21px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}
.dashboardForm__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  padding-bottom: 20px;
  border-bottom: 1px solid #E0E0E0;
}
.dashboardForm__form {
  margin: 30px;
}
.dashboardForm__form__input {
  background: #f5f5f5;
  width: 90%;
  margin: 20px;
  padding: 18px;
  border: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.dashboardForm__form__input:nth-child(3) {
  width: 90%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  line-height: 24px;
  color: #747272;
}
.dashboardForm__form__button {
  width: 95%;
  margin: 20px;
  padding: 18px;
  background: #9698d6;
  border: 0;
  text-align: left;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.dashboardBody {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "menunavbar dashheader" "menunavbar form";
}
@media screen and (max-width: 1024px) {
  .dashboardBody {
    display: block;
  }
}

.dashboard__menu {
  position: fixed;
  height: 100%;
  width: 22%;
  background-color: white;
  display: none;
  grid-area: menunavbar;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 1fr 0.2fr;
  grid-template-areas: "profil" "nav" "logout";
  position: absolute;
}
@media screen and (min-width: 1024px) {
  .dashboard__menu {
    display: grid;
    position: inherit;
  }
}
.dashboard__menu__profil {
  grid-area: profil;
  border-bottom: 1px solid #e0e0e0;
}
@media screen and (min-width: 1024px) {
  .dashboard__menu__profil {
    margin-top: 50px;
  }
}
.dashboard__menu__profil__return {
  margin: 20px;
}
@media screen and (min-width: 1024px) {
  .dashboard__menu__profil__return {
    display: none;
  }
}
.dashboard__menu__profil__img {
  width: 105px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.dashboard__menu__profil__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  padding-top: 21px;
}
.dashboard__menu__hr {
  border: 1px solid #e0e0e0;
}
.dashboard__menu__nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding-top: 56px;
  padding-left: 39px;
}
.dashboard__menu__nav a {
  text-decoration: none;
  color: #000000;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.dashboard__menu__nav a img {
  padding-right: 30px;
}
.dashboard__menu__logout {
  grid-area: logout;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid #e0e0e0;
  padding: 8px 17px 10px 18px;
}
.dashboard__menu__logout__img {
  width: 48px;
  border-radius: 50%;
}
.dashboard__menu__logout__img__button {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  background-color: aqua;
  color: #9698d6;
}
.dashboard__header {
  font-family: "Inter";
  font-style: normal;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .dashboard__header {
    padding-top: 50px;
    padding-left: 50px;
  }
}
.dashboard__header__title {
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  padding-top: 20px;
  padding-left: 25px;
}
.dashboard__header__title__menu {
  padding-right: 20px;
}
@media screen and (min-width: 1024px) {
  .dashboard__header__title__menu {
    display: none;
  }
}
.dashboard__header__path {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  padding-left: 70px;
  margin-top: 8px;
  margin-bottom: 30px;
}
.dashboard__header__banner {
  background: #9698d6;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 50px;
}
@media screen and (min-width: 1024px) {
  .dashboard__header__banner {
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
  }
}
.dashboard__header__banner__name {
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .dashboard__header__banner__name {
    max-width: 50%;
  }
}
.dashboard__header__banner__text {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .dashboard__header__banner__text {
    max-width: 50%;
  }
}
.dashboard__header__illustration {
  width: 370px;
}
@media screen and (min-width: 768px) {
  .dashboard__header__illustration {
    position: absolute;
    width: 280px;
    right: 3px;
    top: 3px;
  }
}
@media screen and (min-width: 1024px) {
  .dashboard__header__illustration {
    position: absolute;
    width: 370px;
    right: 50px;
    top: 3px;
  }
}

.actif {
  font-weight: 600;
  border-right: 5px solid #9698d6;
}