@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&family=Roboto:wght@500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&family=Roboto:wght@500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&family=Roboto:wght@500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&family=Roboto:wght@500;900&display=swap");
.header {
  background-color: #F9DE4E;
  width: 80%;
  padding-top: 5%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .header {
    width: 100%;
  }
}
.header__navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12% 0 12%;
}
@media screen and (max-width: 1024px) {
  .header__navBar {
    padding: 0 0 0 5%;
  }
}
.header__navBar__logo {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .header__navBar__logo {
    font-size: 40px;
  }
}
.header__navBar__nav {
  width: 60%;
}
@media screen and (max-width: 768px) {
  .header__navBar__nav {
    display: none;
  }
}
.header__navBar__nav__link {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: black;
  padding: 15px;
}
@media screen and (max-width: 1024px) {
  .header__navBar__nav__link {
    font-size: 1.5vw;
  }
}
.header__navBar__nav__link:hover {
  border: 1px solid #000000;
}
.header__navBar__button {
  width: 18%;
}
@media screen and (max-width: 1024px) {
  .header__navBar__button {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 5%;
  }
}
.header__navBar__button button {
  border: 0;
  background: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
}
@media screen and (max-width: 768px) {
  .header__navBar__button button {
    font-size: 12px;
  }
}
.header__navBar__button #signUp {
  background: #ffffff;
  border: 1px white solid;
  border-radius: 10px;
  padding: 7px;
}
@media screen and (max-width: 768px) {
  .header__navBar__button #signUp {
    display: none;
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .header__navBar__button #login {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__navBar__button #menu {
    display: none;
  }
}
.header__horizon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__horizon__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 79px;
  color: #000000;
  padding-left: 136px;
}
.header__horizon__image {
  width: 780px;
}
.header img {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  width: 92%;
}
.header .idle {
  display: none;
}

@media screen and (max-width: 525px) {
  .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.footer hr {
  border: 2px #F9DE4E solid;
  width: 60%;
  margin-bottom: 90px;
}
.footer__main {
  display: flex;
  justify-content: space-around;
  align-content: center;
}
@media screen and (max-width: 525px) {
  .footer__main {
    flex-direction: column;
    align-items: center;
  }
}
.footer__main__logo__text {
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  border: 5px #F9DE4E solid;
  width: 165px;
  color: #434138;
}
@media screen and (max-width: 768px) {
  .footer__main__logo__text {
    font-size: 40px;
    width: 140px;
  }
}
.footer__main__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "address address" "phone fax" "media media";
}
@media screen and (max-width: 525px) {
  .footer__main__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
.footer__main__info article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer__main__info article img {
  margin: 20px;
}
.footer__main__info article p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  align-self: center;
  color: #737373;
}
@media screen and (max-width: 768px) {
  .footer__main__info article p {
    font-size: 10px;
  }
}
.footer__main__info__address {
  grid-area: address;
}
.footer__main__info__phone {
  grid-area: phone;
  margin-right: 100px;
}
.footer__main__info__fax {
  grid-area: fax;
}
.footer__main__info__media {
  grid-area: media;
  display: flex;
}
@media screen and (max-width: 525px) {
  .footer__main__info__media {
    flex-direction: column;
    align-items: center;
  }
}
.footer__main__info__media__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  align-self: center;
  padding-bottom: 8px;
  color: #737373;
  mix-blend-mode: normal;
}
@media screen and (max-width: 768px) {
  .footer__main__info__media__title {
    font-size: 10px;
    padding-bottom: 20px;
  }
}
.footer__main__info__media__img {
  padding: 15px;
}
@media screen and (max-width: 768px) {
  .footer__main__info__media__img {
    padding: 7px;
  }
}
.footer__foot {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
@media screen and (max-width: 768px) {
  .footer__foot {
    font-size: 8px;
  }
}
@media screen and (max-width: 768px) {
  .footer__foot {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
  }
}
.footer__foot__nav__link {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #737373;
  padding: 30px;
}
@media screen and (max-width: 1024px) {
  .footer__foot__nav__link {
    padding: 1rem;
  }
}
.footer__foot__nav__link:hover {
  background-color: #F9DE4E;
}
.footer__foot__copyright__text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #737373;
  mix-blend-mode: normal;
}

div {
  box-sizing: border-box;
}

.table__container {
  display: block;
  width: 100%;
  max-width: 1193px;
  color: black;
  font-family: Roboto;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.table__header {
  background: #F9DE4E;
  font-weight: bolder;
}

.flex__table {
  display: flex;
  flex-flow: row wrap;
  transition: 0.5s;
}
.flex__table.table__content:nth-child(odd) {
  background: #F5F5F5;
}

.table__content {
  font-weight: light;
}
.table__content:hover {
  cursor: pointer;
  transition: 500ms;
  font-weight: bolder;
}

.flex__row {
  width: 20%;
  padding: 0.8em 1rem;
}

/*@media all and (max-width: 767px) {
  .flex-row {
    width: calc(100% / 3); //1px = border right

    &.first {
      width: 100%;
    }
  }

  .column {
    width: 100%;
  }
}*/
/*@media all and (max-width: 430px) {

  .flex-table {
    .flex-row {
      border-bottom: 0;
    }

  }

  .header {
    font-weight: 600;
    .flex-row {
      border-bottom: solid 1px;
    }
  }

  .flex-row {
    width: 100%; //1px = border right

    &.first {
      width: 100%;
    }
  }

  .column {
    width: 100%;
  }

  .flex-cell {
    width: 100%; //1px = border right
  }
}
*/
.tables {
  margin: 5rem;
}

.article__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 73px;
  margin: 3rem 0 2rem;
}

.illustration {
  padding: 2rem 0 4rem 0;
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-template-rows: 1fr;
}
.illustration__text {
  padding-left: 5rem;
  padding-top: 2rem;
  font-family: "Inter";
  font-weight: 900;
  font-size: 60px;
  line-height: 82px;
  text-transform: uppercase;
}
.illustration__image {
  justify-content: flex-end;
}
.illustration__image__background {
  background-color: #F9DE4E;
  clip-path: polygon(10% 9%, 100% 54%, 100% 100%, 0% 100%);
  width: 100%;
  height: 280px;
  position: absolute;
  z-index: 1;
}
.illustration__image__source {
  width: 20rem;
  position: absolute;
  z-index: 1;
  right: 8rem;
}

.article__title {
  background-image: linear-gradient(to bottom, transparent 50%, #F9DE4E 50%);
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: 20% 1.2em;
  background-position: 10% 96%;
}

.article__searchbar {
  height: 53px;
  width: 245px;
  left: 1084px;
  top: 403px;
  border-radius: 10px;
  font-size: 1rem;
}

/*# sourceMappingURL=styles.css.map */
