@import 'variables';

$table-header: $darkPurple;
$row-bg: $grey;

div {
  box-sizing: border-box;
}

.db__tables{
  grid-area: table;
  box-shadow: 0px 0px 37px -21px rgba(0, 0, 0, 0.25);

  border-radius: 10px;

  margin: 10px;
  padding: 20px;
}

.db__table__container {
  display: block;
  width: 100%;
  max-width: 1193px;

  color: black;
  font-family: Roboto;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  font-size: 1.6rem;

  min-width: 100%;

}


.db__flex__table {
  display: table-row;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;


  &.db__table__content:nth-child(odd)  {
    background: $row-bg;
  }

}

.db__table__content{
  font-weight:lighter;
  &:hover {
    cursor:pointer;
    transition: 500ms;
    font-weight: bolder;
  }
}

.db__flex__row {
  display: table-cell;
  padding: 23px 20px 23px 0px;
}

.db__table__header{
  display: table-header-group;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
}

.arrow{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  .arrow__down{
    height: 2rem;
    width: 2rem;
    cursor: pointer;
  }
}

.db__article__title{


  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;

  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 21px;
}
