@import 'variables', 'dashboardHeader', 'dashboardForm';

.dashboard {
  display: flex;

  background: #f5f5fb;
  border-left: 1px solid #e7e7e7;

  &__menu {
    position: fixed;
    height: 100%;

    background-color: white;
    width: 285px;

    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 0.2fr;
    grid-template-areas:
      "profil"
      "nav"
      "logout";

    position: absolute;
    @media screen and (min-width: 1024px) {
      display: grid;
      position: inherit;
    }
    &__profil {
      grid-area: profil;
      border-bottom: 1px solid #e0e0e0;
      @media screen and (min-width: 1024px) {
        margin-top: 50px;
      }
      &__return {
        margin: 20px;
        @media screen and (min-width: 1024px) {
            display: none;
          }
      }
      &__img {
        width: 105px;
        border-radius: 50%;

        display: block;
        margin: 0 auto;
      }
      &__name {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 900;
        font-size: 25px;
        line-height: 29px;
        text-align: center;

        color: #000000;

        padding-top: 21px;
      }
    }
    &__hr {
      border: 1px solid #e0e0e0;
    }
    &__nav {
      grid-area: nav;
      display: flex;
      flex-direction: column;

      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;

      padding-top: 56px;
      padding-left: 39px;
      a {
        text-decoration: none;
        color: #000000;

        margin-bottom: 30px;

        display: flex;
        align-items: center;
        img {
          padding-right: 30px;
        }
      }
    //   &__dashboard {}
    //   &__invoices {}
    //   &__companies {}
    //   &__contact {}
    }
    &__logout {
      grid-area: logout;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      border-top: 1px solid #e0e0e0;
      padding: 8px 17px 10px 18px;
      &__img {
        width: 48px;
        border-radius: 50%;
        &__button {
          text-decoration: none;

          font-family: "Inter";
          font-style: normal;
          font-weight: 900;
          font-size: 20px;
          line-height: 24px;

          background-color: aqua;

          color: #9698d6;
        }
      }
    }
  }
}

.actif {
    font-weight: 600;
    border-right: 5px solid #9698d6;
}