.footer {
  hr {
    background: gray;
    width: 71%;
  }
  .yellowHr {
    border: 2px solid $Yellow;
  }
  &__main {
    @media screen and (min-width: 1024px) {
      display: flex;
      justify-content: space-around;
    }
    &__logo {
      display: flex;
      justify-content: center;

      margin-top: 20px;
      &__text {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 56px;
        text-transform: uppercase;
        text-align: center;

        color: #434138;

        border: 5px $Yellow solid;
        width: 170px;
        height: 60px;
      }
    }
    &__info {
      text-align: center;
      @media screen and (min-width: 1024px) {
        text-align: left;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
          "address address"
          "phone fax"
          "media media";
      }
      article {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        @media screen and (min-width: 1024px) {
          justify-content: left;
        }
        img {
          width: 20px;
          margin-right: 10px;
        }
        p {
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;

          color: #737373;
        }
      }
      &__address {
        grid-area: address;
      }
      &__phone {
        grid-area: phone;
      }
      &__fax {
        grid-area: fax;
        @media screen and (min-width: 1024px) {
          padding-left: 5px;
        }
      }
      &__media {
        grid-area: media;
        margin-top: 30px;
        margin-bottom: 30px;
        @media screen and (min-width: 1024px) {
          margin-top: 15px;
          margin-bottom: 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        &__title {
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;

          color: #737373;

          mix-blend-mode: normal;
        }
        &__img {
          @media screen and (min-width: 1024px) {
            padding: 5px;
          }
        }
      }
    }
  }
  &__foot {
    @media screen and (min-width: 1024px) {
      display: flex;
      justify-content: space-around;
      margin: 30px;
    }
    &__nav {
      display: none;
      @media screen and (min-width: 1024px) {
        display: block;
      }
      &__link {
        @media screen and (min-width: 1024px) {
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          text-decoration: none;

          text-transform: uppercase;

          color: #737373;

          padding: 10px;
        }
      }
      &__link:hover {
        background-color: $Yellow;
      }
    }
    &__copyright {
      &__text {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;

        color: #737373;

        mix-blend-mode: normal;

        text-align: center;
      }
    }
  }
}
