@import "variables";


.article__title__home {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 73px;

  margin: 5rem 0 2rem;
}

.illustration {
    display: flex;
    flex-direction: column;
    text-align: center;
    @media screen and (min-width: 1440px) {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: right;
    }
  &__text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 68px;
    line-height: 82px;
    text-transform: uppercase;

    color: #000000;
    @media screen and (min-width: 1440px) {
        width: 35%;
        text-align: left;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    margin: 50px;
    &__background {
        background-color: $Yellow;
        clip-path: polygon(10% 0, 100% 32%, 100% 100%, 0% 100%);
        width: 700px;
        height: 400px;

        position: relative;
        z-index: 1;
    }

    &__source {
        width: 486px;

        position: absolute;
        z-index: 5;
    }
  }
}
