@import 'variables';

.tables{
    margin: 5rem;
}
.article__title__home{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 73px;

    margin: 5rem 0 2rem;
}

.illustration{

    padding: 2rem 0 12rem 0;

    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: 1fr;

    width: 100vw;
    height: 30vh;



    &__text{
padding-left: 9rem;
padding-right: 10rem;
padding-top: 2rem;

font-family: 'Inter';
font-weight: 900;
font-size: 84px;
line-height: 82px;

text-transform: uppercase;



    }

    &__image{
        justify-content: flex-end;


        &__background{
            background-color: $Yellow;
            clip-path: polygon(10% 0, 100% 32%, 100% 100%, 0% 100%);
            width: 57%;
            height: 30%;
            overflow: hidden;


            position: absolute;
            z-index: 1;

        }

        &__source{
            width: 20rem;

            position: absolute;
            z-index: 1;

            right: 8rem;
            
        }
    }
}