@import 'variables';

$table-header: $Yellow;
$row-bg: $grey;

div {
  box-sizing: border-box;
}

.tables{
  margin: 5rem;
  @include for-phone-only{
    padding: 0;
    margin: 1rem;
  }
  @include for-desktop{
    margin: 5rem;
  }

  @include for-big-desktop{
    margin: 0 16rem ;
  }

  @media (max-width:700px) and (min-width:00px) {
    margin: 1rem;
    }
  }

.table__container {
  display: table;
  width: 100%;
  max-width: 1193px;

  color: black;
  font-family: Roboto;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  font-size: 1.6rem;

  min-width: 100%;

  @include for-phone-only{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 20px;

    font-size: 1.1rem;
  }
  @include after-desktop{
    font-size: 1.2rem;
  }

}

.table__header{
  display: table-header-group;
  background: $table-header;
  font-weight: bolder;
  align-items: center;
  @include for-phone-only{
    display:none;
  }
}

.flex__table {
  display: table-row;
  flex-flow: row wrap;
  transition: 0.5s;
  @include for-phone-only{
    background: $row-bg;
  }
  

  &.table__content:nth-child(odd)  {
    background: $row-bg;
  }
  
}

.table__content{
  font-weight:lighter;
  &:hover {
    @include for-desktop{
      cursor:pointer;
      transition: 500ms;
      font-weight: bolder;
    }
  }
}

.flex__row {
  display: table-cell;
  width: calc(100% / 5);
  padding: 0.8em 1rem;
  @include for-medium-desktop{
    width: 20rem;
  }
  @include for-phone-only{
    display:block;
    width: 100%;
  }
}

.flex__row:first-child{
  @include for-phone-only{
    background-color: $Yellow;
  }
}

.row__content{
  @include for-phone-only{
    width: calc(100%) !important;
    text-align: right;
  }
}

.row__content::before{
  @include for-phone-only {
    content: attr(data-label);
    position: absolute;
    left: 3rem;
    text-align: left;
    font-weight: 600;
  }
}

.arrow{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  .arrow__down{
    height: 2rem;
    width: 2rem;
    cursor: pointer;
  }
}




/*@media all and (max-width: 767px) {
  .flex-row {
    width: calc(100% / 3); //1px = border right

    &.first {
      width: 100%;
    }
  }

  .column {
    width: 100%;
  }
}*/

/*@media all and (max-width: 430px) {

  .flex-table {
    .flex-row {
      border-bottom: 0;
    }

  }

  .header {
    font-weight: 600;
    .flex-row {
      border-bottom: solid 1px;
    }
  }

  .flex-row {
    width: 100%; //1px = border right

    &.first {
      width: 100%;
    }
  }

  .column {
    width: 100%;
  }

  .flex-cell {
    width: 100%; //1px = border right
  }
}
*/