@import 'variables';

$table-header: $Yellow;
$row-bg: $grey;

div {
  box-sizing: border-box;
}

.table__container {
  display: block;
  width: 100%;
  max-width: 1193px;

  color: black;
  font-family: Roboto;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;

}

.table__header{
  background: $table-header;
  font-weight: bolder;
}
.flex__table {
  display: flex;
  flex-flow: row wrap;
  transition: 0.5s;
  

  &.table__content:nth-child(odd)  {
    background: $row-bg;
  }
  
}

.table__content{
  font-weight:light;
  &:hover {
    cursor:pointer;
    transition: 500ms;
    font-weight: bolder;
  }
}

.flex__row {
  width: calc(100% / 5);
  padding: 0.8em 1rem;
}




/*@media all and (max-width: 767px) {
  .flex-row {
    width: calc(100% / 3); //1px = border right

    &.first {
      width: 100%;
    }
  }

  .column {
    width: 100%;
  }
}*/

/*@media all and (max-width: 430px) {

  .flex-table {
    .flex-row {
      border-bottom: 0;
    }

  }

  .header {
    font-weight: 600;
    .flex-row {
      border-bottom: solid 1px;
    }
  }

  .flex-row {
    width: 100%; //1px = border right

    &.first {
      width: 100%;
    }
  }

  .column {
    width: 100%;
  }

  .flex-cell {
    width: 100%; //1px = border right
  }
}
*/