@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;900&family=Roboto:wght@500;900&display=swap');

// Typographie
$typoTitle : 'Inter', sans-serif;
$typoText : 'Roboto', sans-serif;

// Colors
$Yellow : #F9DE4E;
$grey : #F5F5F5;
  //Dashboard Colors
  $lightPurple : #F5F5FB;
  $purple : #9698D6;
  $darkPurple : #4D4CAC;
  $pink : #FF808B;