@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;900&family=Roboto:wght@500;900&display=swap');

// Typographie
$typoTitle : 'Inter', sans-serif;
$typoText : 'Roboto', sans-serif;

// Colors
$Yellow : #F9DE4E;
$grey : #F5F5F5;
  //Dashboard Colors
  $lightPurple : #F5F5FB;
  $purple : #9698D6;
  $darkPurple : #4D4CAC;
  $pink : #FF808B;

//Media Querries
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}


@mixin for-desktop {
  @media (max-width: 1024px) { @content; }
}

@mixin for-big-desktop {
  @media (min-width: 1800px) { @content; }
}
