{#-----------------------------------------Head------------------------------------------ #}
<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link
                href="assets/css/reset.css"
                rel="stylesheet"
                type="text/css"
        />

        {% block style %}
        <link
                href="assets/css/styles.css"
                rel="stylesheet"
                type="text/css"
        />
        {% endblock %}

        {% block javascript %}
        <script
            type="module"
            src="assets/modulesJS/table/createTable.js"
            defer>
        </script>

        {% endblock %}

        <title>{% block titlePage %} Cogip {% endblock %}</title>
    </head>
{#-----------------------------------------Header---------------------------------------- #}
    <body>
    {% block header %}
        {% include 'element_header.html.twig' %}
    {% endblock %}


{#-----------------------------------------Body------------------------------------------ #}
    {% block body %}

    <main>
        <h2>test</h2>
        {% for elem in _context %}
            <p>{{ elem.invoices[0].created_at }}</p>
        {% endfor %}

    </main>

    {% endblock %}


{#-----------------------------------------Footer--------------------------------------- #}
    {% include 'element_footer.html.twig' %}
    </body>

