{% extends 'baseDashboard.html.twig' %}

{% block titlePage %}
  Cogip - Dashboard Companies
{% endblock %}

{% block body %}
  <section class="dashboardForm">
    <h1 class="dashboardForm__title">
      New companies
    </h1>
    <form class="dashboardForm__form" action="/dashboardCompany" method="post">
      <input class="dashboardForm__form__input"
        id=""
        type="text"
        name="companyName"
        placeholder="Company Name" />
      <input class="dashboardForm__form__input"
        id=""
        type="text"
        name="country"
        placeholder="Country" />
      <input class="dashboardForm__form__input"
        id=""
        type="text"
        name="tva"
        placeholder="TVA" />
      <select class="dashboardForm__form__input" name="companyType" id="">
        <option value="none" selected disabled hidden>
          Select a type of Companies
        </option>
        {% for elem in types %}
          <option value="{{ elem.id }}">
            {{ elem.name }}
          </option>
        {% endfor %}
      </select>
      <input class="dashboardForm__form__button" type="submit" value="Save" />
    </form>
  </section>
{% endblock %}
