{% extends "element_header.html.twig" %}

{% block horizon %}
    <div class="header__horizon idle">
        <h1 class="header__horizon__title">MANAGE YOUR CUSTOMERS AND INVOICES EASILY</h1>
        <img class="header__horizon__image" src="assets/img/1.illustration_home_header.png" alt="">
    </div>
{% endblock %}