{% block menu %}
    <main class="dashboard">
      <section class="dashboard__menu">
        <div class="dashboard__menu__profil">
        <img class="dashboard__menu__profil__return" src="assets/img/icons/arrow-left.svg" alt="">
          <img class="dashboard__menu__profil__img" src="assets/img/user/user2_henry.png" alt="">
          <h4 class="dashboard__menu__profil__name">Henry George</h4>
        </div>
        <nav class="dashboard__menu__nav">
          <a class="dashboard__menu__nav__dashboard actif" href="/dashboard"><img src="assets/img/icons/Icon_dashboard.png" alt="">Dashboard</a>
          <a class="dashboard__menu__nav__invoices" href="/dashboard-invoices"><img src="assets/img/icons/Icon_Invoices.png" alt="">Invoices</a>
          <a class="dashboard__menu__nav__companies" href="/dashboard-companies"><img src="assets/img/icons/Icon_Companies.png" alt="">Companies</a>
          <a class="dashboard__menu__nav__contact" href="/dashboard-contact"><img src="assets/img/icons/Icon_contact.png" alt="">Contact</a>
        </nav>
        <div class="dashboard__menu__logout">
          <img class="dashboard__menu__logout__img" src="assets/img/user/user2_henry.png" alt="">
          <a class="dashboard__menu__logout__button" href="">Logout</a>
        </div>
      </section>
{% endblock %}