{% block header %}
      <section class="dashboard__header">
        <h3 class="dashboard__header__title">Dashboard</h3>

        <div class="dashboard__header__banner">
          <h2 class="dashboard__header__banner__name">Welcome back Henry!</h2>
          <p class="dashboard__header__banner__text">You can here add an invoice, a company and some contacts</p>
        </div>
        <img class="dashboard__header__illustration" src="assets/img/5.illustration_dashboard.png" alt="">
      </section>
{% endblock %}