{% block header %}
  <header class="header">
    <div class="header__navBar">
      <p class="header__navBar__logo">
        cogip
      </p>
      <nav class="header__navBar__nav">
        <a class="header__navBar__nav__link" href="/">Home</a>
        <a class="header__navBar__nav__link" href="/invoices">Invoices</a>
        <a class="header__navBar__nav__link" href="/companies">Companies</a>
        <a class="header__navBar__nav__link" href="/contacts">Contact</a>
      </nav>
      <div class="header__navBar__button">
        <button class="header__navBar__button__signUp" id="signUp">
          <a href="/dashboard">Sign up</a>
        </button>
        <button class="header__navBar__button__login" id="login">Login</button>
      </div>
    </div>

    <ul class="menu showMenu">
      <li><a class="menuItem" href="/">Home</a></li>
      <li><a class="menuItem" href="/invoices">Invoices</a></li>
      <li><a class="menuItem" href="/companies">Companies</a></li>
      <li><a class="menuItem" href="/contact">Contact</a></li>
      <button class="menuSignUp" id="signUp">
        <a href="/dashboard">Sign up</a>
      </button>
      <button class="menuLogin" id="login">Login</button>
    </ul>
    <button class="hamburger">
      <i class="menuIcon material-icons">
        <img class=""
          src="assets/img/icons/menu.svg"
          alt="" />
      </i>
      <i class="closeIcon material-icons">
      <img class=""
          src="assets/img/icons/close.svg"
          alt="" />
          </i>
    </button>
    {% block horizon %}

    {% endblock %}
    <img id="break" src="assets/img/Rectangle 10.png" alt="" />
  </header>
{% endblock %}
