{% block header %}
  <header class="header">
    <div class="header__navBar">
      <p class="header__navBar__logo">
        cogip
      </p>
      <nav class="header__navBar__nav">
        <a class="header__navBar__nav__link" href="/">Home</a>
        <a class="header__navBar__nav__link" href="/invoices">Invoices</a>
        <a class="header__navBar__nav__link" href="/companies">Companies</a>
        <a class="header__navBar__nav__link" href="/contacts">Contact</a>
      </nav>
      <div class="header__navBar__button">
        <button class="header__navBar__button__signUp" id="signUp">Sign up</button>
        <button class="header__navBar__button__login" id="login">Login</button>
      </div>
    </div>
{# Login #}
    <span class="loginbackground"></span>
    <div class="login">
      <h4 class="login__title">Login</h4>
      <form class="login__form" action="" method="">
      <input class="login__form__input"
        id="loginUsername"
        type="text"
        name="loginUsername"
        placeholder="Username" />
      <input class="login__form__input"
        id="LoginPassword"
        type="password"
        name="LoginPassword"
        placeholder="Password"  />
      {# <input class="login__form__button" type="submit" value="Login" /> #}
      <a class="login__form__link" href="/dashboard">Login</a>
    </form>
    </div>
{# Menu Phone #}
    <ul class="menu">
      <li><a class="menuItem" href="/">Home</a></li>
      <li><a class="menuItem" href="/invoices">Invoices</a></li>
      <li><a class="menuItem" href="/companies">Companies</a></li>
      <li><a class="menuItem" href="/contacts">Contact</a></li>
      <button class="menuSignUp" id="signUp">
        <a href="/dashboard">Sign up</a>
      </button>
      <button class="menuLogin" id="login">Login</button>
    </ul>
    <button class="hamburger">
        <img class="menuIcon material-icons"
          src="assets/img/icons/menu.svg"
          alt=""
          width="50px" />
      <img class="closeIcon material-icons"
          src="assets/img/icons/close.svg"
          alt=""
          width="50px" />
    </button>
    {% block horizon %}

    {% endblock %}
    <img id="break" src="assets/img/Rectangle 10.png" alt="" />
  </header>
{% endblock %}
