{% block menu %}
      <section class="dashboard__menu">
        <div class="dashboard__menu__profil">
          <img class="dashboard__menu__profil__img" src="assets/img/user/user2_henry.png" alt="">
          <h4 class="dashboard__menu__profil__name">Henry George</h4>
        </div>
        <nav class="dashboard__menu__nav" id="dashboardNav">
          <a class="dashboard__menu__nav__dashboard active" href="/dashboard"><img src="assets/img/icons/Icon_dashboard.png" alt="">Dashboard</a>
          <a class="dashboard__menu__nav__invoices" href="/dashboardInvoices"><img src="assets/img/icons/Icon_Invoices.png" alt="">Invoices</a>
          <a class="dashboard__menu__nav__companies" href="/dashboardCompanies"><img src="assets/img/icons/Icon_Companies.png" alt="">Companies</a>
          <a class="dashboard__menu__nav__contact" href="/dashboardContact"><img src="assets/img/icons/Icon_contact.png" alt="">Contact</a>
        </nav>
        <div class="dashboard__menu__logout">
          <img class="dashboard__menu__logout__img" src="assets/img/user/user2_henry.png" alt="">
          <a class="dashboard__menu__logout__link" href="assets/php/logout.php">Logout</a>
        </div>
      </section>

      <ul class="phoneMenu">
        <div class="phoneMenu__profil">
          <img class="phoneMenu__profil__img" src="assets/img/user/user2_henry.png" alt="">
          <h4 class="phoneMenu__profil__name">Henry George</h4>
        </div>
        <li><a class="phoneMenu__item phoneMenu__dashboard activePhone" href="/dashboard"><img src="assets/img/icons/Icon_dashboard.png" alt="">Dashboard</a></li>
        <li><a class="phoneMenu__item phoneMenu__invoices" href="/dashboardInvoices"><img src="assets/img/icons/Icon_Invoices.png" alt="">Invoices</a></li>
        <li><a class="phoneMenu__item phoneMenu__companies" href="/dashboardCompanies"><img src="assets/img/icons/Icon_Companies.png" alt="">Companies</a></li>
        <li><a class="phoneMenu__item phoneMenu__contact" href="/dashboardContact"><img src="assets/img/icons/Icon_contact.png" alt="">Contact</a></li>
        <div class="phoneMenu__logout">
          <img class="phoneMenu__logout__img" src="assets/img/user/user2_henry.png" alt="">
          <a class="phoneMenu__logout__button" href="assets/php/logout.php">Logout</a>
        </div>
      </ul>
    <button class="hamburgerDashboard">
        <img class="menuIcon material-icons"
          src="assets/img/icons/menu.svg"
          alt=""
          width="40px" />
      <img class="closeIcon material-icons"
          src="assets/img/icons/close.svg"
          alt=""
          width="40px" />
    </button>
{% endblock %}